<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heeexy.example.dao.examinationPaperMapper">
  <resultMap id="BaseResultMap" type="com.heeexy.example.util.model.examinationPaper">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="question_bank_id" jdbcType="INTEGER" property="questionBankId" />
    <result column="examination_name" jdbcType="VARCHAR" property="examinationName" />
    <result column="is_del" jdbcType="BIT" property="isDel" />
  </resultMap>
</mapper>